@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}
.sidebar {
  position: absolute;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #1E5F74;
  transition: all .5s ease;
  color: white;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1E5F74;
  user-select: none;
  margin-bottom: 25px;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  transition: .4s;
}
ul li:hover a{

  background: #133B5C;
}
.sidebar ul a svg{
  margin-right: 16px;
  margin-bottom: -5px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #1E5F74;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 57px;
  font-size: 20px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
.sidebar .top{
    position: relative;
    top : 55px;
    left: 20px;
}
.home h1{
 position: absolute;
 top: 100px;
 left: 350px;
 font-size: 35px;
 font-weight: lighter;
}
.aboutme{
    display: none;
}
.aboutme h1{
position: absolute;
 top: 100px;
 left: 350px;
 font-size: 35px;
 font-weight: lighter;
}
.searchbox{
    background-color: white;
    position: absolute;
    top: 25%;
    left: 20%;
    transition: .4s;
    width: 70%;
    padding: 30px;
    box-shadow: 5px 5px 5px rgb(230, 223, 223);
}
.searchbox input{
    width: 150px;
    padding: 10px 15px;
    margin-right: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid black;
    color: black
    transition: .4s;
}
.searchbox input::placeholder{
    color: black;
    
}
.searchbox svg{
    position: relative;
    top: 12px;
    left: -35px;
    margin-right: 50px;
}
.aboutme .hardcode{
    position: absolute;
    top: 20%;
    left: 20%;
    padding: 20px;
    background-color: white;
    width: 70vw;
    min-height: 60vh;
}
.aboutme .hardcode p{
    margin: 5px;
}